html {
  position: relative;
  min-height: 100%;
}
body{
  font: "Trebuchet MS", sans-serif;
  background-color: #2275B5;

  padding-top: 70px;
  margin-bottom: 60px;


}
.ui-front {
  z-index: 9999;
}
.modal { overflow: visible; }
.modal .large {
    max-width: 788px;
}

.main-wrapper {
  padding-top: 38px;
  padding-bottom: 50px;
}

.user-policy {
  font-family: 'Gotham Narrow SSm','Helvetica Neue',Helvetica;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  max-width: 880px;
  padding: 20px;
}
.form-canvas {
  max-width: 768px;
  border-radius: 18px;
  background-color: #f8fdff;
  height: auto;
}
.form-wrapper {
  padding: 68px 0;
  margin-left: 18px;
  margin-right: 18px;
}
.hidden {
  display: none;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
p.tos {
  float: left;
  color: #8899a6;
}
input{
  width: 80%;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;

}

body > .container {
  padding: 60px 15px 0;
}


.footer > .container {
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.map-canvas {
  height: 300px;
  margin: 0;
  padding: 0;
  width: 500px;
}
